 
#banner{
    
        width: 170%;
        height:140%;  
        background-size: cover; 
         display: block;
        overflow:hidden;
        position:absolute; 
       }

.navbar {

    display:flex;
    justify-content:space-around;
    list-style-type: none;
    
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-left: 70px;
    }
    .menu ul li a{
    justify-content:space-between;
    text-decoration: none;
    position:relative;
    color:gold;
    display: block;
    border-bottom: 2px solid black;
    
}
.navbar  ul li a:hover{

    color:blue;
}
.menu-bar{
    display:none;
    cursor: pointer;
    font-size:24px;
    position:relative;

}
@media screen and (max-width:700px) {
    .menu-bar{
        display: block;
        background-color: black;
        color: white;
    }
    .menu 
    {
        display:none;
        width:100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        width:100%;
    }
    .menu ul 
    {
        flex-direction: column;
        width: 100%;
    }

    .menu-active
    {
        display: flex;
    }
    
    .briyani{
        
        flex-direction:column;
        
    }
    #banner{
        height:250%;  
}}




#loginbutton{

    background-color: orangered;
    color:white;
    font-size: large;
    height:50px;
    width:200px ;
    border-radius:20px; 
    position:relative;
    border: 2px solid white;
    margin-top: 5px;
}
#loginbutton:hover{
    background-color: blue;
    cursor: pointer;

}
#title{
    color:white;
    font-size:xx-large;
    font-weight:500px;
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    text-shadow: 5px 5px 5px gray;
}

@media screen and (min-width:401px) and (max-width:700px) 
{
    #loginbutton{
        position:absolute;
        top: 5px;
        margin-left:300px;
        font-size:small;
        height:30px;
        width:80px;
        justify-content: center;
        }
        #title{
            font-size:x-large;
            margin-left:40px;
        }
        #rotateimage{
            flex-direction: column;
            
            grid-template-columns: repeat(auto-fit,minmax(220px,auto));
        }
        .briyani{
            flex-direction: column;
        }
}


 #rotateimage {
    height: 300px;
    width:300px;
    border-radius: 50%;
    margin-left: 40px;
    transition: transform 0.5s ease-in-out;
     
}
.briyani{
    display:flex;
    
    gap:20px;
    position: relative;
   
}
#quotes{
    position: relative;
    color:white;
    padding-top: 30px;
    padding-left: 20px;
    
}
#typingParagraph{
    white-space: pre-wrap;
   
}
#book{
    background-color: orangered;
    border-radius: 10px;
    color:white;
    border:2px solid white;
    margin-left: 100px;

    text-decoration: none;
    position:relative;
    margin-top: 20px;
}

#book:hover{
    background-color: blue;
    cursor: pointer;
    
}

.login{
    border:2px solid black;
    margin-left:30px; 
    width: 350px;
    height:300px;
    background-color:orange;
    border-radius: 10px;
    margin-top:10px;
    display:none;
    
    
}

#log{
    margin-left:100px;
    width:40%;
    height:50px;
    background-color:black;
    color:white;
    font-size:25px ;
    border-radius:5px;
    text-decoration: none;
    margin-top:50px;
    
}
#log:hover{
    background-color: gray;
    cursor: pointer;
}
#username{
    margin-top:20px;
    margin-left:10px;
    width:90%;
    height:30px;
    border-radius:5px;
}
#password{
    margin-top: 10px;
    margin-left:10px;
    width:90%;
    height:30px;
    border-radius:5px
}
/* <!-------------------about us---------------------------> */
.aboutus{
    display:flex;
    border-radius: 5px;
    background-color: black;
}
.abouth1{
    color:gold;
    font-size:100px;
    text-align: center;
    
}
@media screen and (max-width:700px){
    .aboutus{
        flex-direction: column;
    }
    .abouth1{
        font-size: 50px;
        text-align: center;
        
    }}
    @media screen and (max-width:700px){

    .aboutcontent p{

        font-size:small;
        text-align:left;
        
    }
    .aboutcontent{
        margin:5px 5px 5px 5px;
        
    }
    #imgabout img{
    height: 250px;
    width: 250px;    
    margin-left:15px;
    margin-top: 20px;    
    
    }
}
 #imgabout{ 

    position: relative;
 }
 .aboutcontent{
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    justify-content: center;
    background-color: gray;
    padding:20px;
    border-radius:5px ;
   
    margin-top:100px;
    margin-right:25px ;
    

 }
    
   
#about{
    position:relative;
} 
#imagescroll{
    overflow: hidden;
    height:400px;
    width:400px;
    margin-top: 100px;
    border-radius: 30px;
    margin-right:20px;
    
}

#imgabout{
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.0rem);
    }
    100% {
        transform: translateY(0);
    }
}
/* <!------------------------------------services--------------------------> */
#serviceimg{
    border-radius: 50%;
    height:80%;
    width:50%;
    margin-left:40%;
    margin-top:8%;
    position:absolute;
}
#burger{
    border-radius: 50%;
    height:20%;
    width:20%;
    margin-left:30%;
    position:absolute;
    margin-top: 410px;
    border:5px solid white;
    
}
.services{
    display:flex;
    background-color: black;
}

#ser{
    background-color:gray;
    
    height:300px;
    width:500px;
    position:absolute;
    margin-left: 60px;
    margin-top:40px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    
    padding-top: 50px;
    text-align: center;   

}
@media screen and (max-width:700px)
{
    #ser{
        margin-top:300px;
        height: 200px;
        width:200px;
        font-size: small;
        text-align:justify;
    }
    #serviceimg{
        height:50%;
        width:50%;
        margin-left: 70px;
        margin-top: 20px;
    }
    #burger{
        margin-top:200px;
        margin-left: 160px;
    }
    .ordernow{
        width:20px;
        height: 25px;
        margin: 5px 5px 5px 5px;
        
}
}
#red{
    margin-top: 20px;
    width:100px;
    height: 600px;
    background-color: red;
}

.ordernow{
    margin-left:10px;
    border-radius: 5px;
    border:5px solid transparent;
    background-color:darkorange;
    color:white;
    width:200px;
    height:50px ;
    margin-top: 25px;
    font-size:x-large;
    font-weight: 100px;
    box-shadow: 5px 5px 5px black;
}
.ordernow:hover{
 background-color: goldenrod;
}
.serviceh1{
    color:gold;
    font-size:100px;
    text-align: center;
}
@media screen and (max-width:700px)
{
.serviceh1{
    font-size: 55px;
}}

/* <!----------------------------------SPECIAL MENUS--------------------------------> */
.swipercontainer{
    height:100vh;
    background-color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menus-title{
    color:gold;
    font-size: 55px;
    text-align: center;
    
}
.swiper {
    width:50%;
    height:50%;
    padding-top: 50px;
    
    
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 300px;
  }   

  .swiper-slide img {
    display:block;
    width: 80%;
    -webkit-box-reflect:below 1px linear-gradient(transparent,transparent,#0002,#0004);
    height: 100%;
    position: absolute;
  }
  .swiper-img-title{
    position:relative;
    text-align: center;
    
    
  }
  .swiper-rating{
    position: relative;
  }
  /* <!--------------------------------------------CONTACT US-------------------> */
  #Contact_us {
    
    display:grid;
    grid-template-columns: 20% 20% 50%;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap:2.5rem;
   
    background-color: black;
   
}

#form {
    
    margin-top: 10px;
    color:blue;
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    
}

#map {
    
    margin-top: 10px;
    color:blue;
    border: 2px solid white;
    

}
#bar{
    
    width:100%;
    height: 100%;
    padding-left: 0%;
}
.error 
{
    color: red;
    font-size: 50%;
    
}

.contacth1{
    color:gold;
    font-size:100px;
    text-align: center;
}
#uparrow{
    color:orangered;
    background-color: black;
    
}
@media screen and (max-width:700px){
    .contacth1{
        font-size: 55px;
    }}
